body {
    font-family: Spartan, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#background-desktop-image-top {
    position: absolute;
    top: 0;
    left: 0;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
}

#top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 6rem;
}

.rate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 7.8rem;
    margin-right: 7.8rem;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0rem;
    margin-top: 3rem;
    padding: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 0rem;
}

.description {
    padding-left: 0.5rem;
}


.title {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 3rem;
    width: 40%;
    margin-left: 5rem;
    margin-bottom: 1.1rem;
}

.text {
    color: hsl(300, 43%, 22%);
    width: 40%;
    margin-left: 5rem;
    margin-top: 0rem;
}

.rate {
    background: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    width: 80%;
}

.rate-content {
    margin-left: 1rem;
    margin-top: 0.45rem;
    margin: 1 auto;
    color: hsl(300, 43%, 22%);
}

.star {
    margin-top: 0.25rem;
    padding: 0.15rem;
    width: 18px;
    height: 18px;
}

.profile-picture {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 0.95rem;
}

.name {
    color: hsl(300, 24%, 96%);
    font-weight: 500;
    margin-bottom: 0rem;
}

.buyer {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
    margin-top: 0.2rem;
    font-size: 0.9rem;
}

.review-content {
    color: hsl(300, 24%, 96%);
    margin: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 0.3rem;
}

#second-review {
    transform: translateY(20px);
}

#third-review {
    transform: translateY(40px);
}

#first-rate {
    margin-right: 8rem;
}

#second-rate {
    transform: translateX(25px);
    margin-right: 8rem;
}

#third-rate {
    transform: translateX(50px);
    margin-right: 8rem;
}

#background-desktop-image-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
}

#background-mobile-image-top {
    display: none;
}

#background-mobile-image-bottom {
    display: none;
}

@media (max-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
    }

    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #top {
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-left: 1rem;
        margin: auto;
    }

    #top-left {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    #top-right {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .title {
        display: inline-block;
        margin: auto;
        padding: 1rem;
        text-align: center;
        width: 90%;
    }

    .text {
        display: inline-block;
        text-align: center;
        margin: auto;
        width: 90%;
    }

    .rate {
        margin: auto;
        padding-bottom: 2.5rem;
        display: inline-block;
        width: 80%;
        height: 7vh;

    }

    .rate-content {
        margin: auto;
        margin-top: 0.7rem;
    }

    #first-rate {
        margin: auto;
        margin-top: 2rem;
    }

    #second-rate {
        transform: translateX(0px);
        margin: auto;
        margin-top: 2rem;
    }

    #third-rate {
        transform: translateX(0px);
        margin: auto;
        margin-top: 2rem;

    }

    #bottom {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: auto;
    }

    .profile-picture {
        margin: 0;
        padding: 0.3rem;
        position: relative;
    }

    .review {
        padding: 1.5rem;
    }

    #third-review {
        margin-bottom: 5rem;
    }

    .description {
        margin-top: 0.8rem;
    }

    .review-content {
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        text-align: left;
    }

    #background-mobile-image-top {
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
    }

    #background-mobile-image-bottom {
        display: inline;
        position: absolute;
        bottom: -10px;
        right: 0;
        z-index: -2;
        width: 100%;
        height: 30vh;
    }

    #background-desktop-image-top {
        display: none;
    }

    #background-desktop-image-bottom {
        display: none;
    }

}